.centered-container {
  display: grid;
  place-items: center;
}

.account-info {
  display: grid;
  grid-auto-flow: column; /* Places the paragraphs in a single row */
  gap: 20px;
}

.p-tag {
  /* Add any other styles you want for the paragraphs */
}
.outer-container{
  background-color: black;
  color: white;
}
.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
 
}
.connectBtn{
  border: none;
  height: 60px;
  width: 150px;

  color: mediumvioletred;
  border-radius: 15px;
  font-size: larger;
}