.centered-container {
  display: grid;
  place-items: center;
}

.account-info {
  display: grid;
  grid-auto-flow: column; /* Places the paragraphs in a single row */
  gap: 20px;
}

.p-tag {
  color: white;
}
.outer-container{
  background-color: black;
  color: white;
}
.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
 
}
.connectBtn{
  border: none;
  height: 60px;
  width: 150px;

  color: mediumvioletred;
  border-radius: 15px;
  font-size: larger;
}

.game-description {
  text-align:center;
  font-style: italic;
  margin-top: 10px; /* Add spacing between the guessing game and other content */
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  padding: 10px;
}

.account-info {
  display: flex;
  align-items: center;
}

.button-spacing {
  margin: 0 10px;
}
.button {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
 
  text-decoration: underline;
}

/* Style for the form container */
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px; /* Spacing between form rows */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style for each form row */
.form-row {
  display: flex;
  flex-direction: column;
  gap: 5px; /* Spacing between label and input */
}

/* Style for labels */
label {
  font-weight: bold;
}

/* Style for inputs */
input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Style for the submit button */
button {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Optional: Hover effect for the submit button */
button:hover {
  background-color: #0056b3;
}
